@{
    ViewData["Title"] = "Home Page";
}


   <h1 class="display-4">Welcome</h1>

   <section class="start">
        <h2>RetroConstruct B.V.</h2>

        <h3>Inventory Management System Platform</h3>

        <p>Here you can find all data, necessary for all working for RetroConstruct B.V. in following departments:</p>
        <ol>
            <li>Logistics</li>
            <li>Purchase</li>
            <li>Masterdata Logistics</li>
            <li>Management Logistics</li>
        </ol>
   </section>
   
